:root {
  --color-bg: rgba(255,247,240, 1);
  --color-card-bg: rgba(250,250,250,0.8);
  --color-header-bg: white;
  --color-text: black;
  --color-text-2: #333333;
  --color-text-light: white;
  --color-text-light-2: rgba(255,255,255,0.9);
  --color-hover: rgba(120,120,120, 1);
  --color-border: rgba(120,120,120,1);
  --color-border-dark: black;
  --color-border-light: white;
  --color-boxshadow: rgba(100,100,100,1);
  --color-boxshadow-dark: rgba(70,70,70,1);
  --body-bg: rgba(255, 247, 240, 1);
  --box-color: black;
  --post-text-color: #343f44;
  --post-card-bg: rgba(250, 250, 250, 0.8);
  --post-card-text: rgba(71, 71, 71, 1);
  --info-bg-color: rgba(255, 255, 255, 0.9);
  --tags-bg-color: black;
  --tags-clr: rgba(255, 255, 255, 0.9);
  --nav-button-clr: rgba(74, 74, 74, 1);
  --nav-button-lines: black;
  --post-card-tag-bg-color: black;
  --post-card-border-clr: rgba(120, 120, 120, 1);
  --post-card-boxshdw-clr: rgba(100, 100, 100, 1);
  --post-card-image-outline: rgba(100, 100, 100, 1);
  --post-header-bg-color: white;
  --home-btn-bg: white;
  --home-btn-clr: black;
  --home-btn-border: black;
  --home-btn-boxshdw: gray;
  --other-post-bg: white;
  --other-post-border: black;
  --other-post-ptr-clr: white;
  --other-post-ptr-bg: black;
  --other-post-title-clr: black;
  --footer-bg-color: rgba(255, 255, 255, 0.9);
  --post-page-bg: rgba(255, 255, 255, 0.9);
  --post-page-thead-bg: rgba(255, 247, 240, 1);
  --post-table-border: darkgray;
  --post-code-bg: bisque;
  --post-code-clr: black;
  --post-h-color: black;
  --post-strong-em-color: rgba(0, 0, 0, 0.9);
  --post-a-color: black;
  --post-bq-border: black;
  --post-tr-hover: rgba(100, 100, 100, 0.2);
  --text-decoration-color: coral;
  --margin-between-cards: 15px;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  background: var(--color-bg);
}

* {
  box-sizing: border-box;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: initial;
}

header {
  max-width: 1584px;
  margin: 0 auto;
  padding: 1rem 0.5rem;
}
@media (min-width: 1056px) {
  header {
    padding: 1rem 2rem;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__title {
  font-size: 2rem;
  font-weight: bold;
}

.header-nav-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
.header-nav-list__item {
  margin: 0.5rem;
}
.header-nav-list__link {
  color: black;
  text-decoration: none;
}
.header-nav-list__link:hover {
  color: black;
  text-decoration: underline;
}

.header-nav.desktop {
  display: none;
}
@media (min-width: 1056px) {
  .header-nav.desktop {
    display: block;
  }
}

.header-nav.mobile {
  display: none;
}

.header-nav[active].mobile {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.header__menu-btn {
  background: transparent;
  border: none;
  outline: none;
}

.header__menu-btn.mobile {
  display: block;
}
@media (min-width: 1056px) {
  .header__menu-btn.mobile {
    display: none;
  }
}

.header-frame {
  width: calc(100% - 2rem - 16px);
  transform: translateX(-6px);
  padding: 1rem;
  background: var(--color-header-bg);
  border: 3px solid var(--box-color);
  box-shadow: 11px 11px var(--box-color);
  position: relative;
  margin-right: auto;
  margin-left: auto;
  transform-style: preserve-3d;
  overflow: visible;
}

.header-frame:after {
  content: "";
  position: absolute;
  background: var(--box-color);
  width: 17px;
  height: 17px;
  left: 1px;
  bottom: -11px;
  transform: translateZ(-1px) rotate(45deg);
  z-index: -1;
}

.header-frame:before {
  content: "";
  position: absolute;
  background: var(--box-color);
  width: 15px;
  height: 15px;
  right: -10px;
  top: 1px;
  transform: translateZ(-1px) rotate(45deg);
  z-index: -1;
}

#content {
  padding: 1%;
  max-width: 1584px;
  margin: 0 auto;
  background: var(--color-bg);
}

.post-item {
  color: var(--color-text);
  padding: 0.5rem;
  position: relative;
  margin-bottom: var(--margin-between-cards);
  margin-right: auto;
  margin-left: auto;
  width: calc(100% - 1rem - 10px);
  background: var(--color-card-bg);
  transition: transform 0.2s ease;
  border: 1px solid var(--color-border);
  box-shadow: 5px 5px var(--color-boxshadow);
  transition-property: box-shadow, transform;
  transition-duration: 0.2s, 0.3s;
  transition-timing-function: ease;
}
.post-item:hover {
  transform: translate(4px, 4px);
  box-shadow: 1px 1px var(--color-boxshadow);
}
.post-item__description {
  color: var(--color-text-2);
}
.post-item__date {
  color: var(--color-text-2);
  font-family: monospace;
}
.post-item__image {
  border: 1px solid var(--color-border);
  overflow: hidden;
}
.post-item__image > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.post-item__title {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0.4rem;
  color: black;
}
.post-item__tag {
  position: absolute;
  padding: 3px 5px;
  background: var(--color-text);
  color: var(--color-text-light);
  top: 0;
  left: 0;
  border: 1px solid var(--color-border-dark);
  max-height: 30px;
  display: block;
}
.post-item__tag:hover {
  background: var(--color-text-light);
  color: var(--color-text);
  cursor: pointer;
}

.post-item:not(:last-of-type) {
  margin-bottom: 1rem;
}

.post-item-grid {
  display: grid;
  height: 100%;
  overflow: hidden;
  grid-template-columns: minmax(0, 3fr) minmax(0, 2fr);
  grid-template-rows: minmax(auto, 25px) minmax(0, auto) auto;
  grid-column-gap: 8px;
  align-items: center;
  grid-template-areas: "pad image" "title image" "description image";
}
.post-item-grid__nopad {
  grid-row: pad/title;
}
.post-item-grid__title {
  grid-area: title;
}
.post-item-grid__image {
  grid-area: image;
  align-self: start;
}
.post-item-grid__description {
  grid-area: description;
}
.post-item-grid__pad {
  grid-area: pad;
}

.post-list {
  display: flex;
  flex-flow: column nowrap;
}

.featured-posts {
  display: grid;
  width: 100%;
  max-height: 50vh;
  margin: 1rem 0;
  box-shadow: 4px 4px var(--color-boxshadow-dark);
  transition-property: box-shadow, transform;
  transition-duration: 0.2s, 0.3s;
  transition-timing-function: ease;
  background: var(--color-card-bg);
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-template-rows: auto;
  grid-template-areas: "first second" "first third";
}

.featured-post {
  border: 1px solid var(--color-border);
  padding: 2rem;
  position: relative;
  transition-property: box-shadow, transform;
  transition-duration: 0.2s, 0.3s;
  transition-timing-function: ease;
}
.featured-post:hover {
  background: var(--color-hover);
  transform: translate(4px, 4px);
  box-shadow: 0px 0px 3px 0px var(--color-boxshadow);
}
.featured-post__wrapper {
  padding: 1rem;
  background: transparent;
}
.featured-post__image {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  z-index: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.featured-post__image-filter {
  display: none;
  background: rgba(0, 0, 0, 0.65);
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.featured-post__description {
  color: var(--color-text-2);
  margin: 0.5rem 0;
}
.featured-post__tags {
  display: flex;
  position: relative;
  z-index: 1;
  margin-top: 1rem;
}
.featured-post__tags > li {
  padding: 0.5rem;
  border: 1px solid var(--color-border);
}
.featured-post__tags > li:not(:last-of-type) {
  margin-right: 1rem;
}
.featured-post:nth-child(1) {
  grid-area: first;
}
.featured-post:nth-child(1) .featured-post__title {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 1rem 0;
}
.featured-post:nth-child(1) .featured-post__description {
  font-size: 1rem;
}
.featured-post:nth-child(2) {
  grid-area: second;
}
.featured-post:nth-child(2) .featured-post__title {
  font-weight: 700;
  font-size: 1rem;
  margin: 0.5rem 0;
}
.featured-post:nth-child(2) .featured-post__description {
  font-size: 0.8rem;
}
.featured-post:nth-child(3) {
  grid-area: third;
}
.featured-post:nth-child(3) .featured-post__title {
  font-weight: 700;
  font-size: 1rem;
  margin: 0.5rem 0;
}
.featured-post:nth-child(3) .featured-post__description {
  font-size: 0.8rem;
}

.featured-post:hover .featured-post__image {
  display: block;
}

.featured-post:hover .featured-post__image-filter {
  display: block;
}

.featured-post:hover .featured-post__wrapper {
  color: var(--color-text-light);
  z-index: 1;
  position: relative;
}

.featured-post:hover .featured-post__description {
  color: var(--color-text-light);
}

.featured-post:hover .featured-post__tags > li > a {
  color: var(--color-text-light);
}

.featured-post:hover .featured-post__tags > li {
  border: 1px solid var(--color-border-light);
}

/*# sourceMappingURL=style.css.map */
