.floating-button {
  padding: 0;
  background-color: var(--color-header-bg);
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  width: 48px; 
  height: 48px;
  border: 1px solid var(--color-border);
  box-shadow: 5px 5px var(--color-boxshadow);
  transition-property: box-shadow, transform;
  transition-duration: 0.2s, 0.3s;
  transition-timing-function: ease;
  text-align: center;

  &__link {
    @include flex-center;
    height: 100%;
  }

  &:hover {
    transform: translate(4px, 4px);
    box-shadow: 1px 1px var(--color-boxshadow);
  }
}
