.flex {
  &-1 {
    flex: 1;
  }
  &-col{
    display: flex;
    flex-flow: column nowrap;
  }
  &-row {
    display: flex;
    flex-flow: row nowrap;
  }
  &-between{
    display: flex;
    justify-content: space-between;
    align-items:center;
  }
  &-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
