header {
  max-width: $screen-max;
  margin: 0 auto;
  padding: 1rem 2%;
  width: 100%;
  position: relative;
  z-index:100;
  @media (min-width: $screen-lg) {
    padding: 1rem 4%;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    &--nomargin {
      margin-bottom: 0;
    }
  }
}
.header-nav-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;

  &--menu {
    display: none;
    @media (min-width: $screen-lg) {
      display: flex;
    }
  }
  &__item {
    margin: 0.5rem;
  }
  &__link {
    border-bottom: 2px solid transparent;
  }
  &__link:hover {
    border-bottom: 2px solid black;
    color: black;
  }
  &__nav-btn {
    display: none;
    padding: 3px 5px;
    background: var(--color-text);
    color: var(--color-text-light);
    border: 1px solid var(--color-border-dark);
    max-height: 30px;
    cursor: pointer;
    @media (min-width: $screen-lg) {
      display: inline-block;
    }
  }
  &__nav-btn:hover {
    background: var(--color-text-light);
    color: var(--color-text);
  }
  &__nav-btn.css-only:hover ~ .navigation {
    display: block !important;
  }
  &__nav-btn.css-only:hover:before {
    position: absolute;
    content: "";
    display: block;
    width: 150px;
    height: 100px;
    top: 0;
    right:0;
  }
}
.navigation:hover {
  display: block !important;
}

.header-nav.desktop {
  display: none;
  @media (min-width: $screen-lg) {
    display: block;
  }
}
.header-nav {
  display: flex;
}
.mb-header-nav {
  transition: opacity 0.3s ease;
  overflow: auto;
  display: none;
  position: fixed;
  background: var(--color-bg);
  opacity: 0;
  z-index: 10;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100vh;

  &:target {
    display: block;
    opacity: 1;
  }

  &__wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  &__container {
    flex: 1;
    text-align: center;
  }

  &__close-btn {
    position: absolute;
    top: 1rem;
    right: 1rem;
    fill: currentColor;
    &:hover .mb-header-nav__svg-icon {
      color: gray;
      fill: gray;
    }
  }
  &__title {
    font-size: 2.5rem;
    font-weight: 700;
    & text {
      animation: 2s stroke alternate;
      stroke-width: 0.4;
    }
  }
}
.mb-header-nav.active {
  display: block;
}
.mb-header-nav-list {
  &__list {
    margin: auto;
    width: 50%;
    display: flex;
    flex-flow: column;
    padding: 1rem 1rem;
  }
  &__item {
    opacity: 0;
    transition: opacity 0.3s ease;
    font-size: 2.5rem;
    margin: 1rem auto;
    text-align: center;
  }
  &__item.cssonly {
    opacity: 1;
  }
  &__link {
    text-transform: uppercase;
    font-weight: bold;
    position: relative;
    display: inline-block;
    -webkit-text-stroke: 1px var(--color-text);
    color: transparent;
    background: linear-gradient(90deg, var(--color-extra-2) 0%, var(--color-extra-2) 100%);
    background-position: left;
    background-size: 0%;
    background-repeat: no-repeat;
    transition: background-size 0.5s ease;
    background-clip: text;
    -webkit-background-clip: text;
    &:hover {
      background-size: 100%;
    }
  }
}

.mb-header__menu-btn {
  flex: 0 0 1.5rem;
  display: block;
  height: 1.5rem;
  width: 1.5rem;
  padding: 0;
  position: relative;

  & > span:nth-child(1) {
    transition: transform 0.2s ease;
    display: inline-block;
    position: absolute;
    left: 0;
    top: 3px;
    width: 100%;
    height: 2px;
    background: black;
  }
  & > span:nth-child(2) {
    transition: transform 0.2s ease;
    display: inline-block;
    background: black;
    position: absolute;
    left: 0;
    top: 12px;
    width: 100%;
    height: 2px;
  }
  & > span:nth-child(3) {
    transition: transform 0.2s ease;
    display: inline-block;
    background: black;
    position: absolute;
    left: 0;
    top: 21px;
    width: 100%;
    height: 2px;
  }

  &:hover &-line:nth-child(1) {
    transform: translate(-2px, -6px) rotate(2deg);
  }
  &:hover &-line:nth-child(2) {
    transform: translate(-2px, -2px) rotate(-2deg);
  }
  &:hover &-line:nth-child(3) {
    transform: translate(-2px, 6px) rotate(2deg);
  }

  @media (min-width: $screen-lg) {
    display: none;
  }
}

.header-frame {
  width: 100%;
  transform: translateX(-6px);
  padding: 1rem;
  background: var(--color-header-bg);
  border: 3px solid var(--color-header-border);
  box-shadow: 11px 11px var(--color-header-border);
  position: relative;
  margin-right: auto;
  margin-left: auto;
  transform-style: preserve-3d;
  overflow: visible;
  @media (min-width: $screen-lg) {
    width: 80%;
  }
}
.header-frame:after {
  content: "";
  position: absolute;
  background: var(--color-header-border);
  width: 15px;
  height: 15px;
  left: 1px;
  bottom: -11px;
  transform: translateZ(-1px) rotate(45deg);
  z-index: -1;
}
.header-frame:before {
  content: "";
  position: absolute;
  background: var(--color-header-border);
  width: 15px;
  height: 15px;
  right: -11px;
  top: 1px;
  transform: translateZ(-1px) rotate(45deg);
  z-index: -1;
}

@keyframes stroke {
  0% {
    fill: rgba(0, 0, 0, 0);
    stroke: rgba(0, 0, 0, 1);
    stroke-dasharray: 0% 50%;
    stroke-width: 1;
  }
  70% {
    fill: rgba(0, 0, 0, 0);
    stroke: rgba(0, 0, 0, 1);
    stroke-dasharray: 90% 50%;
    stroke-width: 1;
  }
  100% {
    fill: rgba(0, 0, 0, 1);
    stroke: rgba(0, 0, 0, 1);
  }
}
