.post-item {
  color: var(--color-text);
  padding: 0.5rem;
  position: relative;
  margin-bottom: var(--margin-between-cards);
  margin-right: auto;
  margin-left: auto;
  width: calc(100%);
  max-height: 250px;
  background: var(--color-card-bg);
  transition: transform 0.2s ease;
  border: 1px solid var(--color-border);
  box-shadow: 5px 5px var(--color-boxshadow);
  transition-property: box-shadow, transform;
  transition-duration: 0.2s, 0.3s;
  transition-timing-function: ease;

  @media (min-width: $screen-lg) {
    padding: 1rem 4%;
  }

  &:hover {
    transform: translate(4px, 4px);
    box-shadow: 1px 1px var(--color-boxshadow);
  }

  &__meta {
    padding-top: 1.5rem;
  }
  &__meta.no-tag{
    padding-top: 0;
  }

  &__description {
    line-height:1.5;
    margin-top: 0.5rem;
    color: var(--color-text-2);
  }

  &__date {
    color: var(--color-text-2);
    font-family: monospace;
  }
  &--left {
    flex: 1 1 47%;
    margin-right: 1rem;
  }

  &--right {
    flex: 1 1 47%;
  }

  &__image {
    display: block;
    padding-top: 20%;
    border: 1px solid var(--color-border);
    overflow: hidden;
    position: relative;

    & > img {
      position:absolute;
      left:0;
      top:0;
      right:0;
      bottom:0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__title {
    line-height: 1.2;
    font-size: 1.5rem;
    font-weight: 600;
    color: black;
  }

  &__tag {
    position: absolute;
    padding: 3px 5px;
    background: var(--color-text);
    color: var(--color-text-light);
    top: 0;
    left: 0;
    border: 1px solid var(--color-border-dark);
    max-height: 30px;
    display: block;
  }
  &__tag:hover {
    background: var(--color-text-light);
    color: var(--color-text);
    cursor: pointer;
  }
}

.post-item:not(:last-of-type) {
  margin-bottom: 1rem;
}

.post-item-flex {
  display: flex;
  overflow: hidden;
}
