.post-item {
  color: var(--color-text);
  padding: 0.5rem;
  position: relative;
  margin-bottom: var(--margin-between-cards);
  margin-right: auto;
  margin-left: auto;
  width: calc(100% - 1rem - 10px);
  background: var(--color-card-bg);
  transition: transform 0.2s ease;
  border: 1px solid var(--color-border);
  box-shadow: 5px 5px var(--color-boxshadow);
  transition-property: box-shadow, transform;
  transition-duration: 0.2s, 0.3s;
  transition-timing-function: ease;

  &:hover {
    transform: translate(4px, 4px);
    box-shadow: 1px 1px var(--color-boxshadow);
  }

  &__description {
    color: var(--color-text-2);
  }

  &__date {
    color: var(--color-text-2);
    font-family: monospace;
  }

  &__image {
    border: 1px solid var(--color-border);
    overflow: hidden;

    & > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      max-height: 10rem;
    }
  }

  &__title {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    color: black;
  }

  &__tag {
    position: absolute;
    padding: 3px 5px;
    background: var(--color-text);
    color: var(--color-text-light);
    top: 0;
    left: 0;
    border: 1px solid var(--color-border-dark);
    max-height: 30px;
    display: block;
  }
  &__tag:hover {
    background: var(--color-text-light);
    color: var(--color-text);
    cursor: pointer;
  }
}

.post-item:not(:last-of-type) {
  margin-bottom: 1rem;
}

.post-item-grid {
  display: grid;
  height: 100%;
  overflow: hidden;
  grid-template-columns: minmax(0, 3fr) minmax(0, 2fr);
  grid-template-rows: minmax(auto, 25px) minmax(0, auto) auto;
  grid-column-gap: 0.5rem;
  grid-row-gap: 1rem;
  align-items: center;
  grid-template-areas:
  'pad image'
  'title image'
  'description image';

  &__nopad {
    grid-row: pad/title;
  }

  &__title {
    grid-area: title;
    align-self: start;
  }
  &__image {
    grid-area: image;
  }
  &__description {
    grid-area: description;
    align-self: start;
  }
  &__pad {
    grid-area: pad;
  }
  &__nodesc {
    grid-row: title / description;
  }
}
