.post-list {
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
  margin: 0 auto;
  width: 100%;
  @media (min-width: $screen-lg) {
    width: 80%;
  }
}
.list {
  &__title {
    font-size: 2.1rem;
    font-weight: bold;
  }
}
