#content {
  flex: 1 0 auto;
  width: 100%;
  padding: 2%; 
  max-width: $screen-max; 
  margin: 0 auto;
  background: var(--color-bg);
  display: flex;
  flex-flow: column nowrap;
  @media (min-width: $screen-lg) {
    padding: 4%;
  }
  @font-face {
    font-family: "roozname";
    src: local(''),
       url('../fonts/a.rooznameh-webfont.woff2') format('woff2'),
         url('../fonts/a.rooznameh-webfont.woff') format('woff'),
         url('../fonts/A.Rooznameh.ttf');
    font-weight: normal;
    font-style: normal;

}
}
