.post {
  width: 100%;
  max-width: var(--max-post-width);
  margin: 0 auto;
  @media (min-width: $screen-lg) {
    width: 80%;
  }
}
.post-content {
  &--nopost {
    font-size: 1.5rem;
    text-align: center;
  }
  h1{
    font-size: 2.2rem;
    font-weight: bold;
    padding-top: 2.5rem;
    margin-bottom: 1.5rem;
  }
  h2 {
    font-size: 1.8rem;
    font-weight: bold;
    padding-top: 2.5rem;
    margin-bottom: 1.2rem;
  }
  h3 {
    font-size: 1.5rem;
    font-weight: semibold;
    margin-top: 1.6rem;
    margin-bottom: 1rem;
  }
  h4 {
    font-size: 1.2rem;
    font-weight: semibold;
    margin-top: 1.6rem;
    margin-bottom: 0.875rem;
  }
  h5 {
    font-size: 1rem;
    margin-top: 1rem;
    margin-bottom: 0.625rem;
  }
  h6 {
    font-size: 0.825rem;
    margin-top: 1rem;
    margin-bottom: 0.625rem
  }
  h1,h2,h3,h4,h5,h6,p,code,blockquote,a,ul,ol,li {
    line-height: 1.4;
    @media (min-width: $screen-sm) {
      line-height: 1.5rem;
    }
    @media (min-width: $screen-lg) {
      line-height: 1.7;
    }
  }
  p, code, blockquote, a, table, pre,ul,ol,li {
    font-size: 1rem;
    @media (min-width: $screen-sm) {
      font-size: 1.1rem;
    }
    @media (min-width: $screen-lg) {
      font-size: 1.125rem;
    }
  }
  p {
    margin: 1rem 0;
    color: var(--color-text-2);
  }
  blockquote {
    margin-left: 1rem;
    padding-left: 1rem;
    border-left: 4px solid var(--color-border);
    font-family: $monospace;
  }
  code {
    padding: 1px 3px;
    border-radius: 2px;
    background-color: var(--color-code-bg);
    color: var(--color-text-light);
  }
  pre {
    margin: 1rem 0;
  }
  pre code {
    color: inherit;
    background-color: inherit;
    padding: 0;
    border-radius: inherit;
  }
  .highlight {
    box-shadow: 5px 5px var(--color-boxshadow);
    border: 1px solid var(--color-border);
    margin: 1rem 0;
  }
  .highlight pre {
    padding: 1rem;
    overflow: auto;
    margin: 0;
  }
  .highlight code {
    color: inherit;
    background-color: inherit;
    padding: 0;
    border-radius: inherit;
  }
  ul {
    list-style-type: disc;
    padding-left: 1rem;
    margin-left: 1rem;
    margin-top: 0.8rem;
    color: var(--color-text-2);
  }
  ol {
    list-style-type: decimal;
    padding-left: 1rem;
    margin-left: 1rem;
    margin-top: 0.8rem;
    color: var(--color-text-2);
  }
  li:not(:last-of-type) {
    margin-bottom: 0.8rem;
  }
  a,a:any-link {
    color: var(--color-link);
    border-bottom: 1px solid var(--color-border);
  }
  a:hover, a:hover:any-link {
    border-bottom: 3px solid var(--color-border);
    background-color: var(--color-link-bg);
  }
  table {
    overflow:auto;
    max-width: 100%;
    margin: 0.5rem 0; 
    color: var(--color-text-2);
  }

  table th {
    padding: 0.5rem;
    background: var(--color-extra);
  }
  table td {
    padding: 0.5rem;
    border-bottom: 1px solid var(--color-border);
    border-collapse: collapse;
  }
  table tbody tr:nth-child(even) {
    background: var(--color-table-bg);
  }
  table tbody tr:hover {
    background: var(--color-hover);
    color: var(--color-text-light);
  }

  @media only screen and (max-width: 768px) {

    table, thead, tbody, th, td, tr { 
      display: block; 
    }
    
    thead tr { 
      position: absolute;
      top: -9999px;
      left: -9999px;
    }
    
    tr { border: 1px solid #ccc; }
    
    td { 
      border: none;
      border-bottom: 1px solid #eee; 
      position: relative;
      padding-left: 50%; 
    }
    
    td:before { 
      position: absolute;
      top: 6px;
      left: 6px;
      width: 45%; 
      padding-right: 10px; 
      white-space: nowrap;
    }
  }
  cite {
    font-family: $monospace;
  }
  sub {
    vertical-align: sub;
  }
  sup {
    vertical-align: super;
  }
  kbd {
    background: var(--color-code-bg);
    padding: 1px 3px;
    border-radius: 2px;
    color: var(--color-text-light);
  }
  mark {
    background-color: var(--color-extra);
    padding: 1px 3px;
    border-radius: 2px;
    border: 1px solid var(--color-border);
  }
  strong {
    font-weight: bold;
  }
  div[class~="__h_instagram"] {
    margin: 1rem auto;
  }
  div[class~="__h_instagram"].card > .card-header {
    background-color: var(--color-card-bg);
    border: 1px solid var(--color-border);
    padding: 1rem;
    text-align: center;
  }
  div[class~="__h_instagram"].card > a {
    display: flex;
    align-items: center;
    justify-content: center;
    border:none;
  }
  div[class~="__h_instagram"].card > a:hover {
    border:none;
  }
  div[class~="__h_instagram"].card > .card-body {
    background-color: var(--color-card-bg);
    border: 1px solid var(--color-border);
    padding: 1rem;
    text-align: center;
  }
  div[class~="__h_instagram"].card > a > .img-fluid {
    border: 1px solid var(--color-border);
    width: 100%;
    height:auto;
    object-fit: cover;
  }
  blockquote.twitter-tweet {
    border-left: 4px solid var(--color-twitter);
  }
}
