.p {
  &y--sm{
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  &x--sm {
    padding-right: 1rem;
    padding-left: 1rem;
  }
  &y--md{
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  &x--md {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  &--sm {
    padding: 1rem;   
  }
  &--md {
    padding: 2rem;   
  }
}
