.h {
  &2 {
    font-size: 3rem; 
    font-weight: bold;
  }
}
.text-shadow {
  text-shadow: 1px 1px 1px rgb(60,60,60),
    2px 2px 1px rgb(100,100,100),
    3px 3px 1px rgb(110,110, 110),
    4px 4px 1px rgb(120,120,120),
    5px 5px 1px rgb(130,130,130),
    6px 6px 1px rgb(140,140,140),
    7px 7px 1px rgb(150,150,150);
}
