@import "vars";

:root {
  --color-bg: rgba(255,247,240, 1);
  --color-card-bg: rgba(250,250,250,0.8);
  --color-header-bg: white;
  --color-text: black;
  --color-text-2: #222222;
  --color-text-light: white;
  --color-text-light-2: rgba(255,255,255,0.9);
  --color-link: #0F4C81;
  --color-hover: rgba(120,120,120,0.9);
  --color-border: rgba(120,120,120,1);
  --color-border-dark: black;
  --color-border-light: white;
  --color-header-border: black;
  --color-boxshadow: rgba(100,100,100,1);
  --color-boxshadow-dark: rgba(70,70,70,1);
  --color-extra: #ffecbc;
  --color-extra-2: #fcb279;
  --color-footer-bg: rgba(250,250,250,0.8);
  --color-code-bg: rgba(100,100,100,1);
  --color-table-bg: rgba(200,200,200);
  --color-blockquote: #999999;
  --color-twitter: rgb(29, 161, 242);
  --color-link-bg: rgb(200, 200,200, 0.25);

  --max-post-width: 745px;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
html, body {
  height: 100%;
}
body {
  line-height: 1;
  font-family: $sans-serif;
  box-sizing: border-box;
  background: var(--color-bg);
  display: flex;
  flex-flow: column nowrap;
}
* {
  box-sizing: border-box;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

button {
  cursor: pointer;
  background: transparent;
  border:none;
  outline: none;
}

a {
  text-decoration: none;
  color: initial;
}

@import "mixins";
@import "typography";
@import "flex";
@import "spacing";
@import "header";
@import "navigation";
@import "list-header";
@import "main";
@import "pagination";
@import "li";
@import "list";
@import "summary";
@import "featured-posts";
@import "single";
@import "footer";
@import "button";
@import "404";
