<!DOCTYPE html>
<html lang="{{.Site.Language.Lang}}">
  {{- partial "head.html" . -}}
  <body>
    {{- block "header" .}}{{- end }}
    <div id="content">
      {{- block "main" . }}{{- end }}
    </div>
    {{if (or (isset .Site.Params "socials") (ne .Site.Copyright "")) }}
    {{- block "footer" . }}{{- end}}
    {{end}}
    {{ with .Site.Params.cssonly}}
      {{if eq . false}}
        {{ partial "script.html" . }}
      {{end}}
    {{ else }}
      {{ partial "script.html" }}
    {{end}}
  </body>
</html>
