<div class="featured-post">
    {{if (or (isset .Params "image") (isset .Params "imagelink"))}}
    <img class="featured-post__image" src="{{ if isset .Params "image"}}{{printf "%s%s" .File.Dir .Params.image | absURL }}{{else if (isset .Params "imagelink")}}{{.Params.imagelink}}{{end}}" alt="{{.Params.imageTitle}}" />
        <div class="featured-post__image-filter"></div>
    {{end}}
    <a href="{{.Permalink}}" class="featured-post__wrapper">
        <h2 class="featured-post__title">{{.Title}}</h2>
        <div class="featured-post__description">{{.Description}}</div>
        <time datetime="{{.Date}}">{{.Date.Format "2006/02/01"}}</time>
    </a>
    <ul class="featured-post__tags">
        {{ range .Params.tags }}
            <li><a href="{{ $.Site.BaseURL }}/tags/{{. | urlize}}">{{.}}</a></li>
        {{end}}
    </ul>
</div>
