<header>
  <div class="header header-frame">
    <div>
      <div class="header__title {{if not (isset .Site.Params "Description")}}header__title--nomargin{{end}}">{{.Site.Title}}</div>
      {{if ( isset .Site.Params "Description")}}
        <div class="header__description">{{.Site.Params.Description}}</div>
      {{end}}
    </div>
    <nav class="header-nav">
      <ul class="header-nav-list header-nav-list--menu">
        {{ $currentPage := . }}
        {{ range .Site.Menus.main }}
          {{ if .HasChildren }}
            <li class="header-nav-list__item {{ if $currentPage.HasMenuCurrent "main" . }}active{{ end }}">
              <a class="header-nav-list__link" href="#">
                {{ .Pre }}
                <span>{{ .Name }}</span>
              </a>
            </li>
            <ul class="header-nav-list">
              {{ range .Children }}
                <li class="header-nav-list__item {{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }}">
                  <a class="header-nav-list__link" href="{{ .URL }}">{{ .Name }}</a>
                </li>
              {{ end }}
            </ul>
          {{ else }}
            <li class="header-nav-list__item">
              <a class="header-nav-list__link" href="{{ .URL }}">
                {{ .Pre }}
                <span>{{ .Name }}</span>
              </a>
            </li>
          {{ end }}
        {{ end }}
      </ul>
      <button class="header-nav-list__nav-btn {{ with .Site.Params.cssonly}} {{ if eq . true }} css-only {{ end }} {{end}}">navigation</button>
      {{partial "navigation" .}}
    </nav>
    {{with .Site.Params.cssonly}}
      {{ if eq . true }}
        <a aria-label="burger menu" href="#mobile-header-nav" class="mb-header__menu-btn">
          <span class="mb-header__menu-btn-line"></span>
          <span class="mb-header__menu-btn-line"></span>
          <span class="mb-header__menu-btn-line"></span>
        </a>
      {{end}}
    {{else}}
      <button aria-label="burger menu" class="mb-header__menu-btn">
        <span class="mb-header__menu-btn-line"></span>
        <span class="mb-header__menu-btn-line"></span>
        <span class="mb-header__menu-btn-line"></span>
      </button>
    {{end}}
  </div>
  {{partial "mobile-header-nav" .}}
</header>
