<header>
  <div class="header header-frame">
    <div>
      <div class="header__title">{{.Title}}</div>
      {{with .Description}}
      <div class="header__description">{{.}}</div>
      {{end}}
    </div>
    {{with .Params.tags}}
    <nav class="header-nav desktop">
      <ul class="header-nav-list">
        {{ range . }}
        <li class="header-nav-list__item">
            <a class="header-nav-list__link" href="{{ "tags" | absURL }}{{. | urlize}}"
            >{{ . }}</a
          >
        </li>
        {{end}}
      </ul>
    </nav>
    {{end}}
    <button class="mb-header__menu-btn">
      <span class="mb-header__menu-btn-line"></span>
      <span class="mb-header__menu-btn-line"></span>
      <span class="mb-header__menu-btn-line"></span>
    </button>
  </div>
  <nav class="mb-header-nav">
    <div class="flex-between px--md py--sm">
      <svg
        width="240"
        height="72"
        viewBox="0 0 240 72"
        class="mb-header-nav__title"
      >
        <text x="50%" y="50%" dominant-baseline="middle" text-anchor="middle">
          Navigation
        </text>
      </svg>
      <button class="mb-header-nav__close-btn flex-center">
        <svg
          class="mb-header-nav__svg-icon"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          width="32"
          height="32"
        >
          <path
            d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"
          />
          <path d="M0 0h24v24H0z" fill="none" />
        </svg>
      </button>
    </div>
    {{with .Params.tags}}
    <ul class="mb-header-nav-list mobile">
      {{ range . }}
      <li class="mb-header-nav-list__item">
          <a class="mb-header-nav-list__link" href="{{ "tags" | absURL}}{{. | urlize}}"
          >{{.}}</a
        >
      </li>
      {{end}}
    </ul>
    {{end}}
  </nav>
</header>

