{{define "main"}}
    <div class="not-found">
        <div class="not-found__left">
            <h2 class="not-found__htext">خطای ۴۰۴</h2>
            <a href="/about/" class="not-found__home-button">درباره قیچی</a>
        </div>
        <div class="not-found__right">
            <h2 class="not-found__htext pl-sm">آخرین مطالب</h2>
            <ul class="not-found__posts">
                {{range first 3 .Site.RegularPages}}
                    <li class="not-found__post">
                        <a href={{.Permalink}}>
                            <div class="not-found__title mb-xs">{{.Title}}</div>
                            <div class="mb-sm">
                            </div>
                            <div>{{.Description}}</div>
                        </a>
                    </li>
                {{end}}
            </ul>
        </div>
    </div>
{{end}}
